<div class="container mt-5">
  <h2>Livros</h2>
  <hr />
  <button routerLink="/livro/create" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i> Novo Livro
  </button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Autor</th>
          <th>Editora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>
            <button
              (click)="alterarLivro(livro)"
              class="btn btn-sm btn-primary"
            >
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>{{ livro.livroNome }}</td>
          <td>{{ livro.livroAutor }}</td>
          <td>{{ livro.livroEditora }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination?.totalItems!"
      [itemsPerPage]="pagination?.itemsPerPage!"
      [maxSize]="10"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
