<div class="container mt-5">
  <h2>Livros</h2>
  <hr />
  <button routerLink="/livro/create" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i> Novo Livro
  </button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Autor</th>
          <th>Editora</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>Nome do livro</td>
          <td>Autor teste</td>
          <td>Aqui é a editora</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>Nome do livro</td>
          <td>Autor teste</td>
          <td>Aqui é a editora</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>Nome do livro</td>
          <td>Autor teste</td>
          <td>Aqui é a editora</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
