<div class="card mb-2">
  <div class="card-body">
    <h5>{{ cliente?.CliNome }}</h5>
    <p>
      <b>CPF: </b> {{ cliente?.CliCPF }} <br />
      <b>Endereço: </b>
      {{
        cliente?.CliEndereco +
          ", bairro " +
          cliente?.CliBairro +
          ", cidade " +
          cliente?.CliCidade +
          ", número " +
          cliente?.CliNumero
      }}
      <br />
      <b>Tel. Celular: </b> {{ cliente?.CliTelefoneCelular }} <br />
      <b>Tel. Fixo: </b> {{ cliente?.CliTelefoneFixo }}
    </p>
    <div class="text-end">
      <button *ngIf="exibeLixeira" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>
      <button *ngIf="exibeAdd" class="btn btn-success">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
