<div class="card mb-2">
  <div class="card-body">
    <h5>{{ cliente?.cliNome }}</h5>
    <p>
      <b>CPF: </b> {{ cliente?.cliCPF }} <br />
      <b>Endereço: </b>
      {{
        cliente?.cliEndereco +
          ", bairro " +
          cliente?.cliBairro +
          ", cidade " +
          cliente?.cliCidade +
          ", número " +
          cliente?.cliNumero
      }}
      <br />
      <b>Tel. Celular: </b> {{ cliente?.cliTelefoneCelular }} <br />
      <b>Tel. Fixo: </b> {{ cliente?.cliTelefoneFixo }}
    </p>
    <div class="text-end">
      <button
        (click)="addOrRemove()"
        *ngIf="exibeLixeira"
        class="btn btn-danger"
      >
        <i class="fa fa-trash"></i>
      </button>
      <button (click)="addOrRemove()" *ngIf="exibeAdd" class="btn btn-success">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
