<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Clientes encontrados</h5>
    <button
      (click)="fecharModal()"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="scrollable">
      <app-info-cliente
        [exibeAdd]="true"
        [cliente]="cliente"
        *ngFor="let cliente of clientes"
        (clickButton)="adicionarCliente(cliente)"
      ></app-info-cliente>
    </div>
  </div>
</div>
