<div class="card mb-2">
  <div class="card-body">
    <h5>{{ livro?.livroNome }}</h5>
    <p>
      <b>Autor: </b> {{ livro?.livroAutor }} <br />
      <b>Editora: </b> {{ livro?.livroEditora }} <br />
      <b>Edição: </b> {{ livro?.livroEdicao }}
    </p>
    <div class="text-end">
      <button
        (click)="addOrRemove()"
        *ngIf="exibeLixeira"
        class="btn btn-danger"
      >
        <i class="fa fa-trash"></i>
      </button>
      <button (click)="addOrRemove()" *ngIf="exibeAdd" class="btn btn-success">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
