<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Faça seu login</h3>
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" />
            </div>
            <div class="text-center">
              <button class="btn btn-success">Fazer login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
