<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Número de clientes</h5>
          <p class="card-text display-4">{{ sistema?.qtdCliente }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Número de livros</h5>
          <p class="card-text display-4">{{ sistema?.qtdLivro }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Número de empréstimos</h5>
          <p class="card-text display-4">{{ sistema?.qtdEmprestimo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
