<div class="container mt-5">
  <h2>{{ cliente ? "Alterar" : "Novo" }} cliente</h2>
  <hr />
  <form [formGroup]="clienteForms">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="cpf" class="form-label">CPF</label>
        <input
          type="text"
          id="cpf"
          class="form-control"
          placeholder="Digite o CPF"
          formControlName="cliCPF"
          [class.is-invalid]="
            clienteForms.get('cliCPF')?.errors &&
            clienteForms.get('cliCPF')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliCPF')?.hasError('required')"
          class="invalid-feedback"
        >
          O CPF é obrigatório
        </div>
        <div
          *ngIf="clienteForms.get('cliCPF')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          O CPF não pode ter mais de 11 caracteres
        </div>
        <div
          *ngIf="clienteForms.get('cliCPF')?.hasError('minlength')"
          class="invalid-feedback"
        >
          O CPF não pode ter menos de 11 caracteres
        </div>
      </div>
      <div class="col-md-8">
        <label for="nome" class="form-label">Nome</label>
        <input
          type="text"
          id="nome"
          class="form-control"
          placeholder="Digite o nome"
          formControlName="cliNome"
          [class.is-invalid]="
            clienteForms.get('cliNome')?.errors &&
            clienteForms.get('cliNome')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliNome')?.hasError('required')"
          class="invalid-feedback"
        >
          O Nome é obrigatório
        </div>
        <div
          *ngIf="clienteForms.get('cliNome')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          O Nome não pode ter mais de 200 caracteres
        </div>
      </div>
      <div class="col-md-6">
        <label for="endereco" class="form-label">Endereço</label>
        <input
          type="text"
          id="endereco"
          class="form-control"
          placeholder="Digite o endereço"
          formControlName="cliEndereco"
          [class.is-invalid]="
            clienteForms.get('cliEndereco')?.errors &&
            clienteForms.get('cliEndereco')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliEndereco')?.hasError('required')"
          class="invalid-feedback"
        >
          O Endereço é obrigatório
        </div>
        <div
          *ngIf="clienteForms.get('cliEndereco')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          O Endereço não pode ter mais de 50 caracteres
        </div>
      </div>
      <div class="col-md-2">
        <label for="numero" class="form-label">Número</label>
        <input
          type="text"
          id="numero"
          class="form-control"
          placeholder="Digite o número"
          formControlName="cliNumero"
          [class.is-invalid]="
            clienteForms.get('cliNumero')?.errors &&
            clienteForms.get('cliNumero')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliNumero')?.hasError('required')"
          class="invalid-feedback"
        >
          O Número é obrigatório
        </div>
        <div
          *ngIf="clienteForms.get('cliNumero')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          O Número não pode ter mais de 50 caracteres
        </div>
      </div>
      <div class="col-md-4">
        <label for="cidade" class="form-label">Cidade</label>
        <input
          type="text"
          id="cidade"
          class="form-control"
          placeholder="Nome da cidade"
          formControlName="cliCidade"
          [class.is-invalid]="
            clienteForms.get('cliCidade')?.errors &&
            clienteForms.get('cliCidade')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliCidade')?.hasError('required')"
          class="invalid-feedback"
        >
          A Cidade é obrigatória
        </div>
        <div
          *ngIf="clienteForms.get('cliCidade')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          A Cidade não pode ter mais de 50 caracteres
        </div>
      </div>
      <div class="col-md-4">
        <label for="bairro" class="form-label">Bairro</label>
        <input
          type="text"
          id="bairro"
          class="form-control"
          placeholder="Nome do bairro"
          formControlName="cliBairro"
          [class.is-invalid]="
            clienteForms.get('cliBairro')?.errors &&
            clienteForms.get('cliBairro')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliBairro')?.hasError('required')"
          class="invalid-feedback"
        >
          O Bairro é obrigatório
        </div>
        <div
          *ngIf="clienteForms.get('cliBairro')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          O Bairro não pode ter mais de 50 caracteres
        </div>
      </div>
      <div class="col-md-4">
        <label for="telefoneFixo" class="form-label">Telefone Fixo</label>
        <input
          type="text"
          id="telefoneFixo"
          class="form-control"
          placeholder="Digite o telefone fixo"
          formControlName="cliTelefoneFixo"
          [class.is-invalid]="
            clienteForms.get('cliTelefoneFixo')?.errors &&
            clienteForms.get('cliTelefoneFixo')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliTelefoneFixo')?.hasError('required')"
          class="invalid-feedback"
        >
          O Telefone fixo é obrigatório
        </div>
        <div
          *ngIf="clienteForms.get('cliTelefoneFixo')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          O Telefone fixo não pode ter mais de 10 caracteres
        </div>
        <div
          *ngIf="clienteForms.get('cliTelefoneFixo')?.hasError('minlength')"
          class="invalid-feedback"
        >
          O Telefone fixo não pode ter menos de 10 caracteres
        </div>
      </div>
      <div class="col-md-4">
        <label for="telefoneCelular" class="form-label">Telefone Celular</label>
        <input
          type="text"
          id="telefoneCelular"
          class="form-control"
          placeholder="Digite o telefone celular"
          formControlName="cliTelefoneCelular"
          [class.is-invalid]="
            clienteForms.get('cliTelefoneCelular')?.errors &&
            clienteForms.get('cliTelefoneCelular')?.touched
          "
        />
        <div
          *ngIf="clienteForms.get('cliTelefoneCelular')?.hasError('required')"
          class="invalid-feedback"
        >
          O Telefone é obrigatório
        </div>
        <div
          *ngIf="clienteForms.get('cliTelefoneCelular')?.hasError('maxlength')"
          class="invalid-feedback"
        >
          O Telefone não pode ter mais de 11 caracteres
        </div>
        <div
          *ngIf="clienteForms.get('cliTelefoneCelular')?.hasError('minlength')"
          class="invalid-feedback"
        >
          O Telefone não pode ter menos de 11 caracteres
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <button
        [disabled]="!clienteForms.valid"
        (click)="cliente ? alterarCliente() : incluirCliente()"
        class="btn btn-success"
      >
        {{ cliente ? "Alterar" : "Incluir" }}
      </button>
    </div>
  </form>
</div>
