<div class="container mt-5">
  <h2>Clientes</h2>
  <hr />
  <button routerLink="/cliente/create" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i> Novo cliente
  </button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>CPF</th>
          <th>Nome</th>
          <th>Tel. Celular</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            <button
              (click)="alterarOuExcluirCliente(cliente)"
              class="btn btn-sm btn-primary"
            >
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>{{ cliente.CliCPF }}</td>
          <td>{{ cliente.CliNome }}</td>
          <td>{{ cliente.CliTelefoneCelular }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
