<div class="container mt-5">
  <h2>Clientes</h2>
  <hr />
  <button routerLink="/cliente/create" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i> Novo cliente
  </button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>CPF</th>
          <th>Nome</th>
          <th>Tel. Celular</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>11111111111</td>
          <td>Vinicius</td>
          <td>(11) 9 9999-9999</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>11111111111</td>
          <td>Vinicius</td>
          <td>(11) 9 9999-9999</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>11111111111</td>
          <td>Vinicius</td>
          <td>(11) 9 9999-9999</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
