<div class="container mt-5">
  <h2>Clientes</h2>
  <hr />
  <button routerLink="/cliente/create" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i> Novo cliente
  </button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>CPF</th>
          <th>Nome</th>
          <th>Tel. Celular</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            <button
              (click)="alterarOuExcluirCliente(cliente)"
              class="btn btn-sm btn-primary"
            >
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>{{ cliente.cliCPF }}</td>
          <td>{{ cliente.cliNome }}</td>
          <td>{{ cliente.cliTelefoneCelular }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination?.totalItems!"
      [itemsPerPage]="pagination?.itemsPerPage!"
      [maxSize]="10"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
