<div class="container mt-5">
  <h2>Empréstimos</h2>
  <hr />
  <button routerLink="/emprestimo" class="btn btn-sm btn-primary">
    <i class="fa fa-plus"></i> Novo empréstimo
  </button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Cliente</th>
          <th>CPF</th>
          <th>Data de empréstimo</th>
          <th>Data de entrega</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emprestimo of emprestimos">
          <td>
            <button
              (click)="alterarEmprestimo(emprestimo)"
              class="btn btn-sm btn-primary"
            >
              <i class="fa fa-search"></i>
            </button>
          </td>
          <td>{{ emprestimo.clienteDTO.cliNome }}</td>
          <td>{{ cpfFormatter(emprestimo.clienteDTO.cliCPF) }}</td>
          <td>{{ dataFormatter(emprestimo.dataEmprestimo) }}</td>
          <td>{{ dataFormatter(emprestimo.dataEntrega) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination?.totalItems!"
      [itemsPerPage]="pagination?.itemsPerPage!"
      [maxSize]="10"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
